/* CSS For Register */
.form-container {
    margin-top: 150px;
    padding: 10px;
    display: flex;
    justify-content: justify;
    align-items: center;
}

.input {
    border-radius: 0; /* no rounded corners */
    background-color: #fff; /* white background */
    padding: 8px; /* give spacing inside input */
    border: 1px solid #ccc; /* add border to inputs */
    outline: none; /* remove default blue outline */
    border-radius: 25px;
    margin: 5px auto;
}
.btn {
    
    padding: 8px;
    border-radius: 25px;
    color: white;
    margin: 5px;
}
.btn-red{
    background-color:#DA291C;
}
.btn-red:hover{
    background-color:#a51d13;
}


/*CSS For Login*/